name: Python Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.9]  # Можно указать версии Python, на которых вы хотите прогонять тесты

    steps:
    - uses: actions/checkout@v2  # Это действие проверяет ваш репозиторий

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Check Python version
      run: python --version
    
    - name: Install dependencies
      run: 
        python -m pip install --upgrade pip
        pip install -r requirements.txt  
    
    - name: Setup ChromeDriver
      uses: nanasess/setup-chromedriver@master
      with: 
        chromedriver-version: '118.0.5993.70'
        
    - name: Install Chocolatey
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force;
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;
        iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))

    - name: Display Google Chrome version
      run: C:\\hostedtoolcache\\windows\\chromium\\latest\\x64\\chrome.exe --version
      
    # - name: Setup Chrome and ChromeDriver
      # uses: browser-actions/setup-chrome@latest
       
    - run: echo "CHROMEWEBDRIVER=${{ env.CHROMEWEBDRIVER }}" >> $GITHUB_ENV

    - name: Run tests
      run: pytest test_login_email.py 
